# Editor
*.sublime*
.vscode

# OSX
*.DS_Store

# NPM
**/node_modules/*
!**/__tests__/**/node_modules/test-package
!**/__tests__/**/node_modules/test-package2
!**/__tests__/**/node_modules/dep
!**/__tests__/**/node_modules/transient-dep
npm-debug.log

# Build
dist
*actual*
*.tsbuildinfo

# Coverage
.nyc_output
coverage
