class {
  onCreate() {
    this.state = {
      color: undefined
    };
  }
  onMount() {
    this.updateColor();
  }

  updateColor() {
    this.state.color = getComputedStyle(document.querySelector("#clickable")).color;
  }
}

<div#clickable onClick("updateColor")>
  Color: ${state.color}
</div>
