export const x = 1;

import { x as y } from './template.marko';

style {
  div { color: green }
}

<layout-component>
  <div#app>
    <implicit-component/>
    <div id="circular">Circular import value: ${y}</div>
  </div>
</layout-component>