// import addMonths from 'date-fns/addMonths';

import sub from "test-package/sub";
style {
  div {
    color: green;
  }
}

<layout-component>
  <div id="app">
    ${sub}
  </div>
</layout-component>
