import logo from "./logo.svg";

class {
  onCreate() {
    this.state = {
      clickCount: 0,
      mounted: false
    };
  }
  onMount() {
    this.state.mounted = true;
  }

  handleClick() {
    this.state.clickCount++;
  }
}

<div#clickable onClick("handleClick")>
  Mounted: ${state.mounted}
  Clicks: ${state.clickCount}

  LOGO_PATH: ${logo.replace(/-[a-z0-9]+(\.\w+)$/i, '-[hash]$1')}
  ENV: ${import.meta.env.BASE_URL}
</div>
