class {
  onCreate() {
    this.state = {
      clickCount: 0,
      mounted: false
    };
  }
  onMount() {
    this.state.mounted = true;
  }

  handleClick() {
    this.state.clickCount++;
  }
}

<div#clickable onClick("handleClick")>
  Mounted: ${state.mounted}
  Clicks: ${state.clickCount}
</div>
